@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

/* Checkbox */

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}
.styled-checkbox:hover + label:before {
  background: #f35429;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #f35429;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 20px 0;
}

.centered {
  width: 300px;
  margin: auto;
}

.title {
  text-align: center;
  color: #4571ec;
}




/* RATING */ 

.dv-star-rating{
  margin-bottom: -14px !important;
  margin-left: 9px !important;
}

i {
  font-size: 18px !important;
}

/* LOGINBOX */

.LoginBoxContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.LoginBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput{
  background-color: transparent;
  border: 2px solid #000;
  margin: 5px 0px;
  padding: 13px;
  color: #000
}

.loginButton{
  padding: 15px;
  margin-top: 5px;
  background:rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  font-weight: 700
}

.LoginBox h6{
  margin-top: 15px;
  cursor: pointer;
}

.LoginBox h6:hover{
  text-decoration: underline;
}

.workplacesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.workplace {
  color: #f5f5f5;
}

.workplace h3{
  color: #f5f5f5;
}


.workplace h6{
  margin-top: 15px;
  cursor: pointer;
}

.workplace h6:hover{
  text-decoration: underline;
}
